@using Studentski_hotel.Models.Student

@model LicniPodaciVM

<style>
    body {
        margin-bottom: 0px !important;
    }

    .personal-wrapper {
        display: flex;
        justify-content: space-around;
        min-height: 500px;
        box-shadow: 0px 10px 20px grey;
        border-radius: 24px;
    }

    .image-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 36px;
    }

    .data-wrapper {
        font-size: 21px;
        margin-top: 36px;
    }
    .active {
        margin-top: 20px;
    }

    img {
        border-radius: 50%;
        border: 1px solid royalblue;
        width: 160px;
        height: 160px;
    }
</style>


<partial name="_SettingsButtonPartial" />

<div class="personal-wrapper">


    <div class="image-wrapper">

        <div>
            @if (Model.SlikaStanara == null)
            {
                <img src="~/images/placeholder-image.svg" alt="Upload new Image" />
            }
            else
            {
                <img src="~/images/student/@Model.SlikaStanara" />
            }
        </div>

        @if (Model.SlikaStanara != null)
        {
            <button class="btn btn-outline-danger active">Delete photo</button>
        }
        else
        {

            <button onclick="window.location='/Student/DodajSliku'" class="btn btn-outline-primary active">Upload photo</button>

        }
    </div>

    <div class="data-wrapper">
        <p> Ime: @Model.Ime</p>
        <p>Prezime: @Model.Prezime</p>
        <p>Ime roditelja: @Model.ImeOca</p>
        <p>JMBG: @Model.BrLicneKarte</p>
        <p>Datum rodjenja: @Model.DatumRodjenja</p>
        <p>Prebivaliste: @Model.Prebivaliste</p>
        <p>Broj indeksa: @Model.BrojIndeksa</p>
        <p>Tip studenta: @Model.TipStanara</p>
        <p>Broj mobitela: @Model.BrMobitela</p>



    </div>
    <br />
</div>
@*<script src="/lib/jquery/dist/jquery.js"></script>

<script>
    $(".custom-file-input").on("change", function (e) {
        $("#forma").submit();
        console.log(e.target.files[0], 'ovo drugo');


    });

</script>*@