@using Studentski_hotel.Models.Student

@model LicniPodaciVM

<style>
    body {
        margin-bottom: 0px !important;
    }

    .personal-wrapper {
        display: flex;
        justify-content: space-around;
        min-height: 500px;
        box-shadow: 0px 10px 20px grey;
        border-radius: 24px;
    }

    .image-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 36px;
        align-items: center;
    }

    .data-wrapper {
        font-size: 21px;
        margin-top: 36px;
    }
    
</style>


<partial name="_SettingsButtonPartial" />

<div class="personal-wrapper">


    <div class="image-wrapper">
        <partial name="_DodajSlikuPartial" model="Model" />
    </div>

    <div class="data-wrapper">
        <p> Ime: @Model.Ime</p>
        <p>Prezime: @Model.Prezime</p>
        <p>Ime roditelja: @Model.ImeOca</p>
        <p>JMBG: @Model.BrLicneKarte</p>
        <p>Datum rodjenja: @Model.DatumRodjenja</p>
        <p>Prebivaliste: @Model.Prebivaliste</p>
        <p>Broj indeksa: @Model.BrojIndeksa</p>
        <p>Tip studenta: @Model.TipStanara</p>
        <p>Broj mobitela: @Model.BrMobitela</p>



    </div>
    <br />
</div>
